* {
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding: 0em 0em 0em 33em;
    display:inline-block;
    margin: auto
}
li {
    display: inline-block;
    margin-left: 10px;
}
nav{
    display: flex;
}
h1{
    font-size: xx-large;
    font-family: Arial
}

.sections{
    display: flex;
}

.main {
    margin-right: 100px;

}

.sub-section h2 {
    font-style: italic;
}