* {
    box-sizing: border-box;
}

body {
}



ul{
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding: 0em 0em 0em 3em;
    display:inline-block;
    margin: auto;
    position: relative;
}
li {
    display: inline-block;
    margin-left: 10px;
}
nav{
    display: flex;
}
h1{
    font-size: xx-large;
    font-family: Arial;
}

section{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.main {
    margin-right: 100px;

}

.sub-section h2 {
    font-style: italic;
}


@media screen and (min-width: 400px) {
    .header-img {
        width: 100vw;
        display: block;
        margin: 2em auto
    }

}
#painting{
    display: none;
}

#painting {
    width: 75vw;
}


@media screen and (max-width: 567px) {
    body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }
    nav {
        width: 100%;
    }

    #painting {
        width: 50vw;
        display: block;
        margin: 2em auto;
    }
    #nav-bar{
        width: 100vw;
        flex-direction: column;
    }
    nav ul li {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    section{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}